{% extends "base.html" %}

{% block title %}RiboRepa - About{% endblock %}
{% block head %}

{% endblock %}


{% block content %}


<body>

<p>
</p>

<b> </b>
<div class="container-fluid">
  <div class="row">


    <div class="col-1">


        <p> </p>
        <p> </p>

    </div>

    <div class="col-2">


      <image class="rounded mx-auto d-block" width=200px src="{{url_for('static', filename = '/img/ribosome_f.svg')}}">

    </div>

      <div class="col-8" id="myScrollspy">

          <div class="card">
        <div class="card card-body">
       <h5> <b>Publication</b></h5>
        <h6>
        <b> Translational Landscape of Human Mobile elements</b>, <br>
            Artyom A. Egorov, Andrey I. Buyan, Ilya E. Vorontsov, Vadim N. Gladyshev, Ivan V. Kulakovskiy, Sergey E. Dmitriev, <br>
            <i>bioRxiv 2020, doi: </i> </h6>

            <p> </p>
             <hr>
             <h5> <b>Corresponding author </b></h5>
            <h6> <b>Sergey E. Dmitriev</b> <i>sergey.dmitriev@belozersky.msu.ru </i> </h6>

            <p> </p>

             <hr>
             <h5> <b>Technical questions </b></h5>
            <h6> <b>Artyom A. Egorov</b> <i>artyom.egorov@belozersky.msu.ru </i> </h6>


      </div>
          </div>
 <p>

 </p>


</div>
      </div>
      <p>

 </p>

    </div>

          <div class="col-1">


        <p> </p>
        <p> </p>

    </div>

<nav class="navbar fixed-bottom navbar-expand navbar-dark" style="background-color: #22282e;">
  <div class="navbar-expand  navbar-text"> <b> Laboratory of Systems Biology of Aging, Belozersky Institute of Physico-Chemical Biology MSU</b>
  </div>
    <div class="navbar-expand ml-auto navbar-text"> <b> RiboRepa v1.0, 2020 </b>
  </div>
</nav>
</body>
    </div>
  </div>











{% endblock %}
